.myFigure {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}

#redFigure {
  background-color: red;
}
#yellowFigure {
  background-color: rgb(255, 234, 3);
}

.purpleFigures {
  background-color: rgb(251, 0, 255);
}
